<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="assets/image/opa.jpg" alt="bmwi4">
				<div class="carousel-caption">
						<h2>ABOUT US<br></h2>

						
				</div>
			</div>
			</div>
		</div>
	</div>
    <br>
    <p class="aboutus">BMW is a well-known German automaker that has been producing premium cars for decades. In recent years, the company has focused on producing electric cars that are designed to provide sustainable mobility without compromising on performance or style.

        One of BMW's most popular electric cars is the BMW i3, a compact hatchback that was first introduced in 2013. The i3 has a distinctive design, with a body made of lightweight carbon fiber and a unique two-tone paint scheme. It also has an electric motor that can propel the car from 0 to 60 miles per hour in just 7 seconds.
        
        BMW has also released the BMW iX3, a fully-electric SUV that is based on the popular BMW X3. The iX3 has a range of over 200 miles on a single charge and can be charged up to 80% in just 34 minutes using a DC fast charger.
        
        Another exciting BMW electric car is the BMW i4, a sporty four-door sedan that is set to debut in 2021. The i4 will have a range of over 300 miles and is expected to have impressive performance specs, with a 0-60 time of around 4 seconds.
        
        BMW has also made significant investments in battery technology, which is a critical component of electric cars. The company has developed its own battery cells and is working on improving the range and performance of its electric cars.
        
        Overall, BMW's electric cars are stylish, performance-driven vehicles that offer sustainable mobility without sacrificing the driving experience. As the demand for electric cars continues to grow, BMW is positioning itself as a leader in this emerging market.</p>
