<div class="bottommenu">	
    <h3 class="centerr">"A BMW can't take you as far as a diploma"<br></h3>
     <img src="assets/image/line.png" alt="line"> <br>
     <div class="bottomsocial">
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-pinterest"></i></a>
    </div>
        <div class="footer">
            <div class="copyright">
              &copy; BMW Electric Cars 2023 | <a href="#">Privacy </a>| <a href="#">Policy</a>
            </div>
        </div>
</div>